ul.pagination li {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  &:first-child {
    border-radius: 5px 0 0 5px;
  }
  &:last-child {
    border-radius: 0 5px 5px 0;
  }
  a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
    &.active,
    &:hover {
      color: blue;
    }
  }

  &.active {
    background-color: #337ab7;
    a {
      color: white;
    }
  }
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
